 <div class="input-wrapper">
  <label [for]="inputName">{{ label }}</label>
  <div class="input-content">
      <input
          [type]="type"
          [placeholder]="placeholder"
          [value]="value"
          (input)="onInput($event)"
      />
      <div class="icon">
          <ng-content></ng-content>
      </div>
  </div>
</div>

<!--<div class="form__group field">
  <label [for]="inputName"class="form__label">Name</label>
  <input [type]="type" class="form__field" placeholder="Name" [value]="value" (input)="onInput($event)">

</div> -->
